@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-open-sans: var(--font-open-sans);
}

/* remove setas do input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
